{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}?v=1"></script>
{% endblock head %}

{% block main %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="page-header">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-pencil">UpdateStatus</span>
              <span class="glyphicon glyphicon-picture">Add Photos/Video </span>
            </div>
          </div>
            <div class="panel-body">
              <img src="{{ user.profile.get_picture }}" style="width:80px" ,"height:40px">
              <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}</a>
              <p>What's on your mind ?</p>
            </div>
        <button type="button" class="btn btn-warning pull-right btn-compose" title="{% trans 'Press Ctrl + P to compose' %}">
          <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Compose' %}
        </button>
        <h1>{% trans 'News feed' %}</h1>
      </div>

      <div class="panel panel-primary panel-feed">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
        </div>
        <div class="panel-body">

          <div class="compose">
            <h2>{% trans "Compose a new post" %}</h2>
            <form role="form" id="compose-form">
              {% csrf_token %}
              <input type="hidden" name="last_feed">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="post"></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning btn-post">
                  <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                </button>
                <button type="button" class="btn btn-info btn-cancel-compose">{% trans 'Cancel' %}</button>
                <span class="help-block help-count pull-right">255</span>
              </div>
            </form>
          </div>
          <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>
          <ul class="stream">
            {% for feed in feeds %}
              {% include 'feeds/partial_feed.html' with feed=feed %}
            {% endfor %}
          </ul>
          <div class="load">
            <img src="{% static 'img/loading.gif' %}">
          </div>
         
        </div>
      </div>      
    </div>
  </div>



{% endblock main %}
